@import url(pretendard.css);
@import url("bootstrap.min.css");
@import url("hover.css");
:root,[data-bs-theme=light], [data-bs-theme=dark]{--bs-primary:var(--c-main) !important;}

/* 초기화 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;box-sizing: border-box;white-space:normal; word-wrap: break-word;}
body,th,td,input,textarea,select,button {font-size:var(--c-font-size) !important;font-family:"Roboto", "pretendard",Arial, sans-serif;font-weight:400;color:var(--c-text);} 

a, a:link, a:visited, a:focus {color:var(--c-text) ; text-decoration:none;}
a:active, a:hover {color:var(--c-main);text-decoration:none;}
.underline:hover, .underline a:hover{text-decoration: none;}

address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
table {width:100%; margin:0; padding:0; border-collapse:collapse;}
dt,dd,th,td{line-height:2em;font-weight:normal;text-align:left;white-space:nowrap;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
hr {margin:5px 0; padding:0;}

/* Form 스타일 */
input,select, textarea.form-control, select option, input.form-control{font-size:var(--c-font-size) !important;line-height:var(--btn-lineheight);height:var(--btn-height);color:var(--c-text) !important;border:1px solid var(--c-ligray3);background-color:var(--bg-form) !important;border-radius:2px !important;color:var(--c-text) !important;}
input:focus, textarea:focus {box-shadow: 0 0 0 0 !important;border-color:var(--c-main) !important;}
input[type="checkbox"] {width:1.4em !important; height:1.4em !important;border:1px solid var(--c-ligray3);margin-left:5px;margin-right:5px;}
input[type="radio"] {width:1.4em !important; height:1.4em !important;border-radius:0.7em !important;border:1px solid var(--c-ligray3);margin-right:5px;}
input:checked{background-color: var(--c-main) !important;border-color:var(--c-main) !important;}
input:focus, textarea:focus {box-shadow: 0 0 0 0 !important;}
.form-check label {line-height:var(--btn-lineheight);margin-left:5px;}
label.title{font-size:0.975rem;font-weight:400;}

input::placeholder,textarea::placeholder{color:var(--c-ligray3) !important;}
.form-icon{width:160px;position:relative;}
.form-icon input{width:160px;padding:1px 0 0 30px !important;}
.form-icon i{position:absolute;left:10px;font-size:1rem;line-height:1.9rem;margin-top:0px;color:var(--c-dkgray);}
.form-control::-webkit-file-upload-button{padding-left:20px !important; background-color:var(--c-ligray1) !important;}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {color: var(--c-posi) !important;background-color:var(--c-main) !important;}
.form-password {position: relative;display: flex;width:100%; }
.form-password i {position: absolute; right:0.5rem;line-height:var(--btn-lineheight); color:var(--c-ligray3);font-size:1em;display: inline-block;}
.form-password i:hover, .form-password i.on {color:var(--c-main) !important;}
.form-password input{padding-right:2.75rem !important;}

select, textarea, input{padding:0 4px !important;}
select.readonly {border:1px solid var(--c-ligray3);background-color:var(--bg-content);}
select.readonly:focus {outline:none;}
select.disabled {opacity: 0.7;}
select.auto {width:auto;}
button {border:none;background-color:transparent;cursor:pointer;display: inline-block;padding:auto 0.3em;z-index:1;}

.toggle_switch {display: inline-block; position: relative; width:44px !important; height:22px !important;margin:0 auto 2px auto;vertical-align:middle;} 
.toggle_switch input[type="checkbox"] { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; font-size: initial; clip: rect(0 0 0 0); } 
.toggle_switch .slider { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: transparent; border-radius: 26px; cursor: pointer; transition: 0.4s; border:1px solid var(--c-ligray3);} 
.toggle_switch input[type="checkbox"]:checked + .slider { background-color: var(--c-main);border:1px solid var(--c-main); } 
.bgcolor03 .toggle_switch input[type="checkbox"]:checked + .slider {border:1px solid #FFF !important;}
.toggle_switch .slider::before { content: ""; position: absolute; top: 2px; left: 2px; width: 16px; height: 16px; background-color: var(--c-ligray3); border-radius: 50%; transition: 0.4s; } 
.toggle_switch input[type="checkbox"]:checked + .slider::before { transform:translateX(23px); background-color:var(--c-posi);} 
.toggle_switch_l {display: inline-block; position: relative; width: 60px; height: 30px;margin:0 auto 2px auto;vertical-align:middle;} 
.toggle_switch_l input[type="checkbox"] { overflow: hidden; position: absolute; width: 2px; height: 2px; margin: -2px; font-size: initial; clip: rect(0 0 0 0); } 
.toggle_switch_l .slider { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: transparent; border-radius: 26px; cursor: pointer; transition: 0.4s; border:1px solid var(--c-ligray3);} 
.toggle_switch_l input[type="checkbox"]:checked + .slider { background-color: var(--c-main); } 
.toggle_switch_l .slider::before { content: ""; position: absolute; top: 2px; left: 2px; width: 24px; height: 24px; background-color: var(--c-ligray3); border-radius: 50%; transition: 0.4s; } 
.toggle_switch_l input[type="checkbox"]:checked + .slider::before { transform:translateX(30px); background-color:var(--c-posi);} 

.dropdown-menu {
  --bs-dropdown-link-hover-color: var(--bs-body-color) !important;
  --bs-dropdown-link-hover-bg: var(--c-main-sub2) !important;
  --bs-dropdown-link-active-color: var(--c-main-sub2) !important;
  --bs-dropdown-link-active-bg: var(--c-main-sub2) !important;
  --bs-dropdown-link-disabled-color: var(--c-ligray2) !important;
}
.dropdown-menu a{color:var(--c-text) !important;text-decoration: none !important;}
.alert{padding:0.3em 1em !important;margin:0.5em 0 !important;}

/* Layout Size */
html, body {
	--c-font-size:14px;
	--btn-height:30px;
	--btn-lineheight:30px;
	--boder-radius3:3px;
	--boder-radius5:3px;
	background-color:var(--c-bg);
	font-weight:400;
	line-height:1.5rem;
	overflow-y: auto;
	overflow-x: auto;
}

/* Color Theme */
body{
	--c-pink:#FF595E;
	--c-orange:#ff9000;
	--c-yellow:#FFCA3A;
	--c-green:#8AC926;
	--c-blue:#1982C4;
	--c-purple:#8e4ce8;
	--c-red:#d7091d;
	--c-white-0:rgba(255,255,255,0);
	--bg-radius:5px;
	
	--bs-border-color:var(--c-gray) !important;
	--bs-body-color:var(--c-txt) !important;
	--bs-form-control-bg:var(--bg-content) !important;
	--bs-blue: var(--c-main) !important;
	--bs-primary: var(--c-main) !important;
	--bs-primary-text:var(--c-mainbgcolor) !important;
	--bs-secondary-bg:var(--c-main) !important;
	--bg-shadow:0px 0px 5px var(--c-bg2);

	/* 프로그래스 바 색상 변수 */
	--progress-danger:var(--c-danger);
	--progress-warning:var(--c-warning);
	--progress-caution:var(--c-info);
	--progress-normal:var(--c-main);
}

/* 제목 및 본문 스타일 */
h1 {font-size:1.3rem !important; line-height:1.22rem;letter-spacing:-1px;color:var(--c-text);font-weight:700;}
h2 {font-size:1rem; line-height:1.8rem;font-weight:500;letter-spacing:-0.7px;color:var(--c-text);}
h3 {font-size:1rem; line-height:1.6rem;font-weight:500;letter-spacing:-0.7px;color:var(--c-text);}
h4 {font-size:1rem; line-height:1.4rem;font-weight:400;color:var(--c-text);}
h5 {font-size: 0.9rem; line-height:1.1rem;font-weight:400;color:var(--c-gray);}
div, p, span {font-size:var(--c-font-size);font-weight:var(--c-font-weight);}

.bgcolor01, .bgcolor02, .bgcolor03{--c-gray10:rgba(0,0,0,0.1);--c-gray30:rgba(0,0,0,0.3);--c-gray50:rgba(0,0,0,0.5);--c-txtbtn:#FFF;--c-svg:brightness(0);--bg-modal:#FFF;font-weight:500 !important;--chart-text-color:#000 !important;}
.bgcolor01 h1, .bgcolor02 h1, .bgcolor03 h1{font-size:1.7em;font-weight:700 !important;}
.bgcolor04, .bgcolor05, .bgcolor06,.bgcolor07,.bgcolor08,.bgcolor09{--c-gray10:rgba(255,255,255,0.1);--c-gray30:rgba(255,255,255,0.3);--c-gray50:rgba(255,255,255,0.5);--c-svg:brightness(100);--border-mordal:rgba(255,255,255,0.1);--chart-text-color:#FFF !important;}

.bgcolor01 h1, .bgcolor02 h1, .bgcolor03 h1 {font-weight:600;}
.bgcolor04 h1, .bgcolor05 h1, .bgcolor06 h1{font-weight:500;}


/* 라이트 모드 01.blue*/
.bgcolor01{
	--c-text:#000;
	--c-posi:#FFF;
	--c-nega:#000;
	--bg-content:#FFF;
	--bg-content-hover:#FFF;
	--bg-form:#FFF;
	--bg-leftmenu:#FFF;
	--bg-shadow:0px 0px 5px 5px rgba(90,100,100,0.1);
	--bg-body-img:none;
	--border-content:rgba(0,0,0,0.1);
	--border-content-hover:rgba(255,255,255,1);
	
	--c-head:#000a44;
	--c-bg:#f6f7f9;
	--c-bg2:rgba(240,240,240,0.4);
	
	--c-gray:#5a5a5a;
	--c-ligray1:#e8e8ef;
	--c-ligray2:#d3d3d3;
	--c-ligray3:#9fa0a0;
	--c-dkgray:#3e3a39;
	
	--c-op50:#041731;
	--c-op0:rgba(140,193,223,0.3);
	
	--c-main:rgba(0,58,223,1);
	--c-sub:rgba(0,58,223,0.6);
	--c-main-sub:rgba(66,102,204,0.2);
	--c-main-sub2:rgba(0,58,223,0.05);
    --bs-primary-rgb:0,58,223 !important;
	--chart-text-color:#000 !important;

	/* 그래프 색상 변수 */
	--chart-primary:rgba(41, 121, 255, 0.8);
	--chart-secondary:rgba(0, 196, 180, 0.8);
	--chart-tertiary:rgba(122, 62, 255, 0.8);
	--chart-danger:rgba(255, 59, 48, 0.8);
	--chart-warning:rgba(255, 138, 0, 0.8);
	--chart-success:rgba(48, 209, 88, 0.8);
	--chart-info:rgba(251, 212, 55, 0.8);
/* 	
	--chart-primary:rgba(0,58,223,1);
	--chart-secondary:rgba(0, 175, 160, 0.85);
	--chart-tertiary:rgba(139, 84, 255, 0.85);
	--chart-danger:rgba(255, 63, 58, 0.85);
	--chart-warning:rgba(255, 155, 0, 0.9);
	--chart-success:rgba(40, 190, 80, 0.85);
	--chart-info:rgba(255, 215, 64, 0.9); */
}
/* 라이트 모드 03.black*/
.bgcolor03{	
	--c-text:#000;
	--c-posi:#FFF;
	--c-nega:#000;
	--bg-content:rgba(255,255,255,0.8);
	--bg-content-hover:#FFF;
	--bg-form:#FFF;
	--bg-leftmenu:#FFF;
	--bg-shadow:0px 0px 3px 3px rgba(0,0,0,0.1);
	--bg-body-img:none;
	--border-content:rgba(0,0,0,0);
	--border-content-hover:rgba(0,0,0,0.2);
	
	--c-head:#000;
	--c-bg:#ebeff3;
	--c-bg2:rgba(235,239, 243, 0.7);
	
	--c-gray:#777a7f;
	--c-ligray1:#ebeff3;
	--c-ligray2:#d0d3dc;
	--c-ligray3:#9499a3;
	--c-dkgray:#39404c;
	
	--c-op50:#111;
	--c-op0:rgba(17,17,17,0.3);
	
	--c-main:#000;
	--c-sub:rgba(70,80,90,0.6);
	--c-main-sub:rgba(50,75,100,0.2);
	--c-main-sub2:rgba(70,80,90,0.05);
    --bs-primary-rgb:74,124,125 !important;
	--chart-text-color:#000 !important;

	/* 그래프 색상 변수 */
	--chart-primary:rgba(0,0,0,0.9);
	--chart-secondary:rgba(41, 121, 255, 0.8);
	--chart-tertiary:rgba(122, 62, 255, 0.8);
	--chart-danger:rgba(255, 59, 48, 0.8);
	--chart-warning:rgba(255, 138, 0, 0.8);
	--chart-success:rgba(48, 209, 88, 0.8);
	--chart-info:rgba(251, 212, 55, 0.8);
}
/*  다크모드 01.green*/
.bgcolor04{
	--c-text:rgba(255,255,255,.9);
	--c-posi:#292f45;
	--c-nega:#FFF;
	--c-txtbtn:#292f45;
	--bg-content:#263143 !important;
	--bg-content-hover:#2e394c !important;
	--bg-form:#263143;
	--bg-leftmenu:#263143;
	--bg-shadow:0 0 3px 3px rgba(0,0,0,0.1);
	--bg-body-img:none;
	--border-content:#273142;
	--border-content-hover:rgba(255,255,255,.1);
	
	--c-head:#000;
	--c-bg:#1b2533;	
	--c-bg2:rgba(22,29,48,.4);
	
	--c-gray:#959db7;
	--c-ligray1:#3c4362;
	--c-ligray2:#4c5370;
	--c-ligray3:#7e86a1;
	--c-dkgray:#f4f4f6;
	
	--c-op50:rgba(178,255,67,0.8);
	--c-op0:rgba(255,255,255,0.1);
	
	--c-main:rgba(22,255,192, 1);
	--c-sub:#329d80;
	--c-main-sub:rgba(0,170,255, 0.2);
	--c-main-sub2:rgba(0,170,255, 0.1);
	--bs-primary-rgb: 0,170,255 !important;	

	/* 그래프 색상 변수 */
	--chart-primary:rgba(42, 237, 194, 1);
	--chart-secondary:rgba(51,140,201, 0.85);
	--chart-tertiary:rgba(124,  92, 255, 0.9);
	--chart-danger:rgba(255,  55,  95, 0.88);
	--chart-warning:rgba(255, 136,   0, 0.9);
	--chart-success:rgba(255, 214,   0, 0.9);
	--chart-info:rgba(72, 216, 255, 0.85);

}

/*  다크모드 02.yellow*/
.bgcolor05{
	--c-text:rgba(255,255,255,.9);
	--c-posi:#191919;
	--c-nega:#FFF;
	--c-txtbtn:#2d2d2d;
	--bg-content:#191919;	
	--bg-content-hover:#1f1f1f;
	--bg-leftmenu:#202020;
	--bg-shadow:0px 0px 0px 0px rgba(255,204,0,0.3);
	--bg-body-img:none;
	--border-content:rgba(255,255,255,0.1);
	--border-content-hover:rgba(255,255,255,0.3);
	
	--c-head:#202020;
	--c-bg:#191919;	
	--c-bg2:rgba(56,56,56,.3);
	
	--c-gray:#959595;
	--c-ligray1:#4b4b4b;
	--c-ligray2:#6c6c6c;
	--c-ligray3:#7b7b7b;
	--c-dkgray:#f4f4f6;
	
	--c-op50:rgba(255,204,0,0.8);
	--c-op0:rgba(255,255,255,0.1);
	
	--c-main:#ffcc00;
	--c-sub:rgba(255,204,0, 0.5);
	--c-main-sub:rgba(255,204,0, 0.2);
	--c-main-sub2:rgba(255,204,0, 0.05);
	--bs-primary-rgb:255,204,0 !important;
	
	/* 그래프 색상 변수 */
	--chart-primary:#ffcc00;
	--chart-secondary:rgba(41, 121, 255, 1);
	--chart-tertiary:rgba(0, 229, 195, 0.8);
	--chart-danger:rgba(255, 77, 166, 0.8);
	--chart-warning:rgba(255, 138, 0, 0.8);
	--chart-success:rgba(166, 255, 59, 1);
	--chart-info:rgba(140, 75, 255, 1);
}
.bgcolor06{
	--c-text:rgba(255,255,255,.9);
	--c-posi:#0b0b0b;
	--c-nega:#FFF;
	--c-txtbtn:#292f45;
	--bg-content:#0b0b0b;
	--bg-content-hover:#181818;
	--bg-form:#0b0b0b;
	--bg-leftmenu:#0b0b0b;
	--bg-shadow:0px 0px 0px 0px rgba(255,204,0,0.3);
	--bg-body-img:none;
	--border-content:rgba(255,255,255,0.1);
	--border-content-hover:rgba(255,255,255,0.3);
	
	--c-head:#000;
	--c-bg:#000;	
	--c-bg2:rgba(255,255,255,0.02);
	
	--c-gray:#c9c7c7;
	--c-ligray1:#606060;
	--c-ligray2:#6c6c6c;
	--c-ligray3:#7b7b7b;
	--c-dkgray:#f4f4f6;
	
	--c-op50:rgba(135,242,233,0.8);
	--c-op0:rgba(255,255,255,0.1);
	
	--c-main:#00c6ff;
	--c-sub:rgba(255,244,183 0.5);
	--c-main-sub:rgba(255,244,183, 0.3);
	--c-main-sub2:rgba(255,244,183, 0.05);
	--bs-primary-rgb:255,244,183 !important;
	
	/* 그래프 색상 변수 */
	--chart-primary:#00c6ff;
	--chart-secondary:rgba(135,242,233, 1);
	--chart-tertiary:rgba(255,244,183, 1);
	--chart-danger:rgba(255, 99, 132, 1);
	--chart-warning:rgba(255, 159, 64, 1);
	--chart-success:rgba(75, 192, 192, 1);
	--chart-info:#00c6ff;
}
.bgcolor07{
	--c-text:#FFF;
	--c-posi:#140b23;
	--c-nega:#FFF;
	--bg-content:rgba(255,255,255,0.02);
	--bg-content-hover:rgba(255,255,255,0.08);
	--bg-form:#4f3b51;
	--bg-leftmenu:#140b23;
	--bg-shadow:0px 0px 0px 0px rgba(255,204,0,0.3);
	--bg-body-img:url(../images/bg_img1.png);
	--border-content:rgba(255,255,255,0.1);
	--border-content-hover:rgba(255,255,255,0.2);
	
	--c-head:#140b23;
	--c-bg:#4f3b51;	
	--c-bg2:rgba(255,255,255,0.06);
	--c-bg-blur:blur(10px); 
	
	--c-gray:#b3b2b3;
	--c-ligray1:rgba(255,255,255,0.15);
	--c-ligray2:#7f7c80;
	--c-ligray3:#8d898f;
	--c-dkgray:#f4f4f6;
	
	--c-op50:rgba(135,242,233,0.8);
	--c-op0:rgba(255,255,255,0.1);
	
	--c-main:#d2a0ff;
	--c-sub:rgba(180,140,220, 0.8);
	--c-main-sub:rgba(180,140,220, 0.4);
	--c-main-sub2:rgba(210,160,255, 0.1);
	--bs-primary-rgb:210,160,255 !important;
	
	/* 그래프 색상 변수 */
	--chart-primary:#d2a0ff;
	--chart-secondary:rgba(180,140,220, 1);
	--chart-tertiary:rgba(153, 102, 255, 1);
	--chart-danger:rgba(255, 99, 132, 1);
	--chart-warning:rgba(255, 159, 64, 1);
	--chart-success:rgba(75, 192, 192, 1);
	--chart-info:rgba(54, 162, 235, 1);
}
.bgcolor08{
	--c-text:#FFF;
	--c-posi:#000;
	--c-nega:#FFF;
	--c-txtbtn:#292f45;
	--bg-content:rgba(0,0,0,0.7);
	--bg-content-hover:rgba(0,0,0,0.5);
	--bg-form:rgba(12,12,12,0.9);
	--bg-leftmenu:rgba(0,0,0,1);
	--bg-shadow:0px 0px 0px 0px rgba(255,204,0,0.3);
	--bg-body-img:url(../images/bg_img2.png);
	--border-content:rgba(255,255,255,0.1);
	--border-content-hover:rgba(255,255,255,0.3);
	
	--c-head:#000;
	--c-bg:#000;	
	--c-bg2:rgba(255,255,255,0.05);
	--c-bg-blur:blur(10px); 
	
	--c-gray:#767c88;
	--c-ligray1:rgba(255,255,255,0.1);
	--c-ligray2:#555555;
	--c-ligray3:#7b7b7b;
	--c-dkgray:#f4f4f6;
	
	--c-op50:rgba(135,242,233,0.8);
	--c-op0:rgba(255,255,255,0.1);
	
	--c-main:#b4ff46;
	--c-sub:rgba(180,255,70, 0.6);
	--c-main-sub:rgba(180,255,70, 0.2);
	--c-main-sub2:rgba(255,255,255, 0.1);
	--bs-primary-rgb:180,255,70 !important;
	
	/* 그래프 색상 변수 */
	--chart-primary:#b4ff46;
	--chart-secondary:rgba(180,255,70, 0.8);
	--chart-tertiary:rgba(135,242,233, 1);
	--chart-danger:rgba(255, 99, 132, 1);
	--chart-warning:rgba(255, 159, 64, 1);
	--chart-success:#b4ff46;
	--chart-info:rgba(54, 162, 235, 1);
	
}
.bgcolor09{
	--c-text:#FFF;
	--c-posi:#030e29;
	--c-nega:#FFF;
	--c-txtbtn:#000;
	--bg-content:rgba(0,0,0,0.2);
	--bg-content-hover:rgba(0,0,0,0);
	--bg-form:#1a233d;
	--bg-leftmenu:#1a233d;
	--bg-shadow:0px 0px 0px rgba(255,255,255,0.3);/*url(../images/bg_img4.png);*/
	--bg-body-img:linear-gradient(135deg, #0e1428 0%,#161e38 10%, #5b6b97 20%, #313c5e 30%, #313c5e 40%, #0d1327 50%, #1c2540 60%,#343e5f 70%, #161e37 80%, #080d1e 100%);
	--border-content:rgba(255,255,255,0.1);
	--border-content-hover:rgba(255,255,255,0.3);
	
	--c-head:#030e29;
	--c-bg:#1a233d;	
	--c-bg2:rgba(255,255,255,0.04);
	--c-bg-blur:blur(10px); 
	
	--c-gray:rgba(255,255,255,0.5);
	--c-ligray1:rgba(255,255,255,0.1);
	--c-ligray2:rgba(255,255,255,0.2);
	--c-ligray3:rgba(255,255,255,0.3);
	--c-dkgray:#c7ccda;
	
	--c-op50:rgba(135,242,233,0.8);
	--c-op0:rgba(255,255,255,0.1);
	
	--c-main:#98b5ff;/*#abc3ff*/
	--c-main2:rgba(232,239,255, 1);
	--c-sub:rgba(232,239,255, 0.6);
	--c-main-sub:rgba(232,239,255, 0.3);
	--c-main-sub2:rgba(232,239,255, 0.1);
	--bs-primary-rgb:232,239,255 !important;
	
	/* 그래프 색상 변수 */
	--chart-primary:#98b5ff;
	--chart-secondary:rgba(232,239,255, 1);
	--chart-tertiary:rgba(135,242,233, 1);
	--chart-danger:rgba(255, 99, 132, 1);
	--chart-warning:rgba(255, 159, 64, 1);
	--chart-success:rgba(75, 192, 192, 1);
	--chart-info:#98b5ff;
}


.fc{color:var(--c-text);}
.fc-nega{color:var(--c-nega);}
.fc-posi{color:var(--c-posi);}
.bgc-pink{background-color:var(--c-pink) !important;}
.fc-pink{color:var(--c-pink) !important;}
.bgc-yellow{background-color:var(--c-yellow) !important;color:var(--c-posi);}
.fc-yellow{color:var(--c-yellow) !important;}
.bgc-green{background-color:var(--c-green) !important;}
.fc-green{color:var(--c-green) !important;}
.bgc-blue{background-color:var(--c-blue) !important;}
.fc-blue{color:var(--c-blue) !important;}
.bgc-purple{background-color:var(--c-purple) !important;}
.fc-purple{color:var(--c-purple) !important;}
.bgc-red{background-color:var(--c-red) !important;}
.fc-red{color:var(--c-red) !important;}
.bgc-dkgray{background-color:var(--c-dkgray) !important;color:var(--c-posi);}
.fc-dkgray{color:var(--c-dkgray) !important;}
.bgc-ligray1{background-color:var(--c-ligray1) !important;color:var(--c-nega);}
.fc-ligray1{color:var(--c-ligray1) !important;}
.bgc-ligray2{background-color:var(--c-ligray2) !important;color:var(--c-nega);}
.fc-ligray2{color:var(--c-ligray2) !important;}
.bgc-ligray3{background-color:var(--c-ligray3) !important;}
.fc-ligray3{color:var(--c-ligray3) !important;}
.bgc-gray{background-color:var(--c-gray) !important;}
.fc-gray{color:var(--c-gray) !important;}
.bgc-sub{background-color:var(--c-main-sub) !important;}
.fc-sub{color:var(--c-sub) !important;}
.fc-sub:hover{color:var(--c-main) !important;}
.bgc-main{background-color:var(--c-main) !important;color:var(--c-posi);}
.fc-main{color:var(--c-main) !important;}
.icon-svg{fill:var(--c-main) !important;}

.w30 {width:30px !important;}
.w40 {width:40px !important;}
.w50 {width:50px !important;}
.w60 {width:60px !important;}
.w70 {width:70px !important;}
.w80 {width:80px !important;}
.w90 {width:90px !important;}
.w100 {width:100px !important;}
.w110 {width:110px !important;}
.w120 {width:120px !important;}
.w200 {width:200px !important;}
.w250 {width:250px !important;}
.w300 {width:300px !important;}
.w400 {width:400px !important;}


.w10p {width:10% !important;}
.w12p {width:12% !important;}
.w15p {width:15% !important;}
.w20p {width:20% !important;}
.w25p {width:25% !important;}
.w30p {width:30% !important;}
.w33p {width:33.33333% !important;}
.w35p {width:35% !important;}
.w40p {width:40% !important;}
.w50p {width:50% !important;}
.w60p {width:60% !important;}
.w70p {width:70% !important;}
.w75p {width:75% !important;}
.w76p{width:76% !important}
.w80p {width:80% !important;}
.w88p {width:88% !important;}
.w90p {width:90% !important;}
.w100p {width:100% !important;}
.wauto {width:auto !important;}

.h10p {height:10% !important;}
.h20p {height:20% !important;}
.h50p {height:50% !important;}
.h100p{height:100% !important;}

.h20 {height:20px !important;}
.h24 {height:24px !important;}
.h100 {height:100px !important;}
.h120 {height:120px !important;}
.h150 {height:150px !important;}
.h200 {height:200px !important;}
.h300 {height:300px !important;}
.h400 {height:400px !important;}

.m0 {margin:0px !important;}
.ml3 {margin-left:3px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}

.mr3 {margin-right:3px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}

.mt0 {margin-top:0px !important;}
.mt3 {margin-top:3px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mb0 {margin-bottom:0px !important;}
.mb2 {margin-bottom:2px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}

.mw-auto{margin:auto 0px;}
.mh-auto{margin:0px auto;}

.p0 {padding:0px !important;}
.p5 {padding:5px !important;}
.p10 {padding:10px !important;}
.p20 {padding:20px !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
.pr0 {padding-right:0px !important;}
.pr10 {padding-right:10px !important;}
.pr20 {padding-right:20px !important;}
.pr30 {padding-right:30px !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pb5 {padding-top:5px !important;}
.pb10 {padding-top:10px !important;}
.pb20 {padding-top:20px !important;}
.pb30 {padding-top:30px !important;}

.fs90{font-size:0.85rem !important;line-height:1.1rem;}
.fs100{font-size:1rem;line-height:1.5rem;}
.fs110{font-size:1.1rem;line-height:1.6rem;}
.fs130{font-size:1.3rem;line-height:2rem;}
.fs150{font-size:1.5rem;line-height:2.2rem;}
.fs200{font-size:2rem;line-height:2.2rem;letter-spacing: -1px;}
.fs-big{font-size:3rem;line-height:2.2rem;letter-spacing: -1px;}

.fw100{font-weight:100 !important;}
.fw200{font-weight:200 !important;}
.fw300{font-weight:300 !important;}
.fw400{font-weight:400 !important;}
.fw500{font-weight:500 !important;}
.fw600{font-weight:600 !important;}
.fw700{font-weight:700 !important;}
.fw800{font-weight:800 !important;}
.fw900{font-weight:900 !important;}

.ff-data{font-family: "Teko", serif;font-weight:500;}

.left {text-align:left !important;}
.right {text-align:right !important;}
.center {text-align:center !important;}
.vtop {vertical-align:top !important;}
.vmid {vertical-align:middle !important;}
.vbottom {vertical-align:bottom !important;}

.clear {clear:both;}
.hid {display:none;}
.vhid {visibility:hidden;}
.dib {display:inline-block;}
.cd {cursor:default !important;}
.cp {cursor:pointer !important;}
.porel {position:relative;}
.poabs {position:absolute;}
.uppercase {text-transform:uppercase;}
.nostyle {list-style:none; padding:0;}
.br0{border-radius:0 !important;}
.br5{border-radius:5px !important;}
.underline{text-decoration: underline;}

.form-control.lg, button.lg{height:2.8rem !important; line-height:2.6rem !important;font-size:1.025rem !important;}
i.lg {line-height:2.8rem !important;font-size:1.1rem !important;}

.container::-webkit-scrollbar,.container-menu::-webkit-scrollbar,.leftmenu-body::-webkit-scrollbar, .register-box::-webkit-scrollbar {width: 5px;height:100%;}
.container::-webkit-scrollbar-thumb,.container-menu::-webkit-scrollbar-thumb,.leftmenu-body::-webkit-scrollbar-thumb,.register-box::-webkit-scrollbar-thumb  {background-color: var(--c-main) !important;height:10% !important;border-radius:3px;}
.container::-webkit-scrollbar-track,.container-menu::-webkit-scrollbar-track,.leftmenu-body::-webkit-scrollbar-track,.register-box::-webkit-scrollbar-track  {background-color:var(--c-posi) !important;}


/*xmp*/
xmp{font-family:"pretendard"; letter-spacing:0.5px !important;font-size:14px;line-height:18px !important;padding:0 !important;margin:0 !important;}
.xmp h1, .xmp p, .xmp span {letter-spacing: 0 !important;}
.xmp-h1{font-size:35px !important;line-height:50px;font-weight:600;color:var(--c-text);}
.xmp-title{height:50px;display: flex !important;border-bottom:1px solid var(--c-text); margin:10px 0 20px 0;}
.xmp-body{background-color:#FFF; width:100%;border:1px solid #000; padding:0px 20px !important;margin:0;color:#000;border-radius:10px;line-height:18px !important;}
.xmp-body .xmp-h1{color:#000; border-bottom:1px solid #000;}
.xmp-body .accordion-button{width:100%;}
.xmp-title .bgcolor{float: right;margin-left:auto;}
.xmp-mg{margin:20px 0;}
.xmp-line{width:100%; height:1px;background-color:var(--c-gray); margin:30px 0;}
.fs14{font-size:14px;}
.mt-50{margin-top:-50px;}



